

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened>
    
    <mat-list id="menus">
      <mat-card class="clayton">
        <mat-card-header>

          <mat-card-title><p style="margin: 10px 16px 10px;">Client Portal</p></mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button 
        class="menu-item"
          mat-flat-button (click)="viewDashboard()">
          <mat-icon>dashboard</mat-icon>
        Dashboard</button> 
      </mat-list-item>


        <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button routerLink="batch">
              <mat-icon>work</mat-icon>
             Batch</button>
          </mat-list-item>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button (click)="fn_SearchClient()">
              <mat-icon>work</mat-icon>
            Create Sub Client</button>
          </mat-list-item>

          <mat-list-item>
              <button 
              class="menu-item"
                mat-flat-button routerLink="course">
                <mat-icon>work</mat-icon>
               Course</button>
            </mat-list-item>

            <mat-list-item>
              <button 
              class="menu-item"
                mat-flat-button routerLink="topic">
                <mat-icon>work</mat-icon>
               Topic</button>
            </mat-list-item>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button  routerLink="question">
              <mat-icon>work</mat-icon>
             Questions</button>
          </mat-list-item>


          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button  routerLink="questionPaper">
              <mat-icon>work</mat-icon>
             Question Paper</button>
          </mat-list-item>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button (click)="fn_SearchClient()">
              <mat-icon>work</mat-icon>
            Associate Candidate</button>
          </mat-list-item>

          <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button (click)="fn_SearchClient()">
              <mat-icon>work</mat-icon>
            Approve Candidate</button>
          </mat-list-item>


    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content >
        <mat-toolbar color="primary">
            <span>LTOCAS-PROJECT</span>
          </mat-toolbar>   
          <router-outlet></router-outlet>
          <div class="lds-roller" *ngIf="showLoadingIndicator">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
  </mat-sidenav-content>
   
 
</mat-sidenav-container>
