<div class="login">
  <h2 class="login-header">Create Question</h2>
  <form class="login-container" (ngSubmit)="onSubmit()" [formGroup]="createQuestions">

   
     

      <div class="form-group" formGroupName="coursePojo"> 
          <label>Choose Course</label>
          <select class="form-control" formControlName="id" [(ngModel)]="selectedCourseId"
          [ngClass]="{ 'has-error': submitted && f.coursePojo.errors }" (change)="getTopicById()">
           <option selected  [value] ="0">Select Course</option> 
            <option value="coursePojo" *ngFor="let coursePojo of courses" [value]="coursePojo.id">
                {{coursePojo.name}}
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && f.coursePojo.errors">
            <div class="text-danger">select the course</div>
          </div>  
        </div> 
  
      <div class="form-group" formGroupName="questionsTopicPojo">
        <label>Choose Topic</label>
        <select class="form-control" formControlName="id" [(ngModel)]="selectedTopicId" 
        [ngClass]="{ 'has-error': submitted && f.coursePojo.errors }">
        <option  disabled value="">Select Topic</option>
          <option  value="questionsTopicPojo" *ngFor="let questionsTopicPojo of selectedTopic" [value]="questionsTopicPojo.id" >
              {{questionsTopicPojo.topic}}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && f.coursePojo.errors">
          <div class="text-danger">select the topic</div>
        </div>
      </div>

    <div class="form-group">
      <label>Enter The Question</label>
   <textarea  class="form-control" formControlName="questions" [class.is-invalid]="createQuestions.get('questions').invalid &&
   createQuestions.get('questions').touched"></textarea>
   <div *ngIf="createQuestions.get('questions').invalid &&createQuestions.get('questions').touched">
    <small class="text-danger">Enter The Question</small>
  </div>
  </div>

    <div class="form-group">
      <label> Option 1</label>
   <input type="text" class="form-control option-area" formControlName="option1" [class.is-invalid]="createQuestions.get('option1').invalid &&
   createQuestions.get('option1').touched">
   <div *ngIf="createQuestions.get('option1').invalid &&createQuestions.get('option1').touched">
    <small class="text-danger">Enter The Option</small>
  </div>
    </div>

    <div class="form-group">
      <label> Option 2</label>
     <input type="text" class="form-control option-area" formControlName="option2" [class.is-invalid]="createQuestions.get('option2').invalid &&
     createQuestions.get('option2').touched" >
     <div *ngIf="createQuestions.get('option2').invalid &&createQuestions.get('option2').touched">
      <small class="text-danger">Enter The Option</small>
    </div>
    </div>

    <div class="form-group">
        <label> Option 3</label>
     <input type="text" class="form-control option-area" formControlName="option3" [class.is-invalid]="createQuestions.get('option3').invalid &&
     createQuestions.get('option3').touched">
     <div *ngIf="createQuestions.get('option3').invalid &&createQuestions.get('option3').touched">
      <small class="text-danger">Enter The Option</small>
    </div>
      </div>
  
      <div class="form-group">
        <label> Option 4</label>
     <input type="text" class="form-control option-area" formControlName="option4" [class.is-invalid]="createQuestions.get('option4').invalid &&
     createQuestions.get('option4').touched">
     <div *ngIf="createQuestions.get('option4').invalid &&createQuestions.get('option4').touched">
      <small class="text-danger">Enter The option</small>
    </div>
      </div>

      <div class="form-group">
          <label>Answer</label>
       <input type="text" class="form-control option-area" formControlName="answer" [class.is-invalid]="createQuestions.get('answer').invalid &&
       createQuestions.get('answer').touched">
       <div *ngIf="createQuestions.get('answer').invalid &&createQuestions.get('answer').touched">
        <small class="text-danger">Enter The Answer</small>
      </div>
        </div>

    <button mat-flat-button class="mat-flat-button mat-primary">Previous</button>
    <button mat-flat-button class="btn btn-success" type="submit">Save</button>
  </form>
</div>