<div #bala class="login">
    <h2 class="login-header">{{panelTitle}}</h2>
    <form class="login-container" (ngSubmit)="onSubmit()" [formGroup]="questionPaperForm">
      <div class="form-group">
        <label margin-right=3rem>QuestionPaperName</label>
     <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" style="width:300px" />
     <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
         <div *ngIf="f.name.errors.required">Name is required</div>
     </div>
      </div>
      
      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>