    <h3 class="text-center" text="bold">QuestionPaper</h3>   
 <div *ngFor="let questionPaper of listQuestionPaper" (notifyDelete)="onDeleteNotification($event)">
  <ul class="clients">
    <li>
        <span class="badge"> {{questionPaper.id}}</span>
      <span>{{questionPaper.name}}</span>
      <button  type="button" class="btn btn-success btns" (click)="onSelect(questionPaper.id)">View</button>
    </li>
 </ul>
</div>

<!-- div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</div> -->
